@using LMUSessionTracker.Core.Tracking
@model LapsViewModel
@{
	ViewData["Title"] = "Laps";
}
<h3>@ViewData["Title"]</h3>

<dl class="row">
	<dt class="col-lg-1 col-2">Session</dt>
	<dd class="col-lg-3 col-3"><a asp-action="Session" asp-route-sessionId="@Model.Session.SessionId">@Model.Session.Timestamp.ToString("yyyy-MM-dd HH:mm")</a></dd>
	<dt class="col-lg-1 col-2">Session</dt>
	<dd class="col-lg-2 col-5">@Model.Session.Type</dd>
	<dt class="col-lg-1 col-2">Track</dt>
	<dd class="col-lg-4 col-10">@Model.Session.Track</dd>
	<dt class="col-lg-1 col-2">Slot ID</dt>
	<dd class="col-lg-1 col-3">@Model.Car.Car.SlotId</dd>
	<dt class="col-lg-1 col-2">Veh</dt>
	<dd class="col-lg-4 col-5">@Model.Car.Car.Veh</dd>
	<dt class="col-lg-1 col-2">Vehicle</dt>
	<dd class="col-lg-4 col-10">@Model.Car.Car.VehicleName</dd>
	<dt class="col-lg-1 col-2">Number</dt>
	<dd class="col-lg-1 col-3">@Model.Car.Car.Number</dd>
	<dt class="col-lg-1 col-2">Class</dt>
	<dd class="col-lg-1 col-5 text-truncate">@Model.Car.Car.Class</dd>
	<dt class="col-lg-1 col-2">Team</dt>
	<dd class="col-lg-3 col-10">@Model.Car.Car.TeamName</dd>
	<dt class="col-lg-1 col-2">ID</dt>
	<dd class="col-lg-3 col-10 text-truncate">@Model.Car.Car.Id</dd>
</dl>

<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th>Lap</th>
			<th>Driver</th>
			<th class="text-end">Time</th>
			<th class="text-end">S1</th>
			<th class="text-end">S2</th>
			<th class="text-end">S3</th>
			<th class="text-end">Fuel</th>
		</tr>
	</thead>
	<tbody>
		@for(int i = 0; i < Model.Car.Laps.Count; i++) {
			Lap lap = Model.Car.Laps[i] ?? Lap.Default(i+1);
			<tr>
				<td>@lap.LapNumber</td>
				<td>@lap.Driver</td>
				<td class="text-end">@Format.LapTime(lap.TotalTime)</td>
				<td class="text-end">@Format.LapTime(lap.Sector1)</td>
				<td class="text-end">@Format.LapTime(lap.Sector2)</td>
				<td class="text-end">@Format.LapTime(lap.Sector3)</td>
				<td class="text-end">@Format.Percent(lap.Fuel)</td>
			</tr>
		}
	</tbody>
</table>
