@model SessionViewModel
@{
    ViewData["Title"] = "Session";
    var hasStandings = Model.Standings != null && Model.Standings.Count > 0;
}

@if(Model.SessionState != null) {
<div class="row">
<div class="col">
<h3>Session</h3>
<div>
    <dl>
        <dt>Server</dt>
        <dd>@Model.Session.ServerName</dd>
        <dt>Track</dt>
        <dd>@Model.Session.TrackName</dd>
        <dt>Session</dt>
        <dd>@Model.Session.SessionType</dd>
        <dt>Phase</dt>
        <dd>@Model.SessionState.GamePhase</dd>
        <dt>Yellow state</dt>
        <dd>@Model.SessionState.YellowFlagState</dd>
        <dt>Sectors</dt>
        <dd>@Model.SessionState.Sector1Flag @Model.SessionState.Sector2Flag @Model.SessionState.Sector3Flag</dd>
    </dl>
</div>
</div>

<div class="col">
<h3>Timing</h3>
<div>
    <dl>
        <dt>Time remaining</dt>
        <dd>@Format.Time(Model.SessionState.TimeRemainingInGamePhase)</dd>
        <dt>Start time</dt>
        <dd>@Format.Time(Model.Session.StartEventTime)</dd>
        <dt>Current time</dt>
        <dd>@Format.Time(Model.SessionState.CurrentEventTime)</dd>
        <dt>End time</dt>
        <dd>@Format.Time(Model.Session.EndEventTime)</dd>
        <dt>Completion</dt>
        <dd>@Format.Percent(Model.SessionState.RaceCompletion)</dd>
        <dt>Max time</dt>
        <dd>@Format.Time(Model.Session.MaxTime)</dd>
    </dl>
</div>
</div>

<div class="col">
<h3>Conditions</h3>
<div>
    <dl>
        <dt>Ambient temp</dt>
        <dd>@Format.Temp(Model.SessionState.AmbientTemp)</dd>
        <dt>Track temp</dt>
        <dd>@Format.Temp(Model.SessionState.TrackTemp)</dd>
        <dt>Dark cloud</dt>
        <dd>@Format.Percent(Model.SessionState.DarkCloud)</dd>
        <dt>Wetness (min)</dt>
        <dd>@Format.Percent(Model.SessionState.MinPathWetness)</dd>
        <dt>Wetness (avg)</dt>
        <dd>@Format.Percent(Model.SessionState.AveragePathWetness)</dd>
        <dt>Wetness (max)</dt>
        <dd>@Format.Percent(Model.SessionState.MaxPathWetness)</dd>
        <dt>Raining</dt>
        <dd>@Format.Percent(Model.SessionState.Raining)</dd>
        <dt>Wind</dt>
        <dd>@Model.SessionState.WindVelocity?.ToString("N1")</dd>
    </dl>
</div>
</div>
</div>
}

@if(hasStandings) {
    <partial name="StandingsPartial" model="Model" />
}

@if(Model.History != null) {
    if(hasStandings) {
        <div><a class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#history">Show history</a></div>
        <div class="collapse" id="history">
            <partial name="HistoryPartial" model="Model.History" />
        </div>
    } else {
        <partial name="HistoryPartial" model="Model.History" />
    }
}
