@using LMUSessionTracker.Core.LMU
@using LMUSessionTracker.Core.Tracking
@model SessionViewModel
<h3 id="standings"><a href="#standings">Standings</a></h3>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Pos</td>
            <th>PIC</td>
            <th>Class</td>
            <th>Number</td>
            <th>Team</td>
            <th>Driver</td>
            <th>Behind</td>
            <th>Int</td>
            <th>Laps</td>
            <th>Fuel</td>
            <th>Status</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Standing standing in Model.Standings) {
            CarKey id = new CarKey() { SlotId = standing.slotID, Veh = standing.vehicleFilename };
			Car car = Model.Entries.GetValueOrDefault(id);
			<tr>
                <td><a asp-action="Laps" asp-route-sessionId="@Model.Session.SessionId" asp-route-carId="@id.Id()">@standing.position</a></td>
                <td>@(Model.PositionInClass.TryGetValue(id, out int pic) ? pic : "")</td>
                <td>@(!string.IsNullOrEmpty(car.Class) ? car.Class : standing.carClass)</td>
                <td>@(!string.IsNullOrEmpty(car.Number) ? car.Number : standing.carNumber)</td>
                <td>@(!string.IsNullOrEmpty(car.TeamName) ? car.TeamName : (string.IsNullOrEmpty(standing.fullTeamName) ? standing.vehicleName : standing.fullTeamName))</td>
                <td>@standing.driverName</td>
                <td class="text-end">@Format.Diff(standing.lapsBehindLeader, standing.timeBehindLeader)</td>
                <td class="text-end">@Format.Diff(standing.lapsBehindNext, standing.timeBehindNext)</td>
                <td class="text-end">@standing.lapsCompleted</td>
                <td class="text-end">@Format.Percent(standing.fuelFraction)</td>
                <td>@standing.Status()</td>
            </tr>
        }
    </tbody>
</table>
